## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

#### 列出所有欄位

In [5]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [6]:
aa = app_train[['FLAG_OWN_CAR','FLAG_DOCUMENT_18','AMT_REQ_CREDIT_BUREAU_YEAR']]
aa

       FLAG_OWN_CAR  FLAG_DOCUMENT_18  AMT_REQ_CREDIT_BUREAU_YEAR
0                 N                 0                         1.0
1                 N                 0                         0.0
2                 Y                 0                         0.0
3                 N                 0                         NaN
4                 N                 0                         0.0
5                 N                 0                         1.0
6                 Y                 0                         2.0
7                 Y                 0                         0.0
8                 N                 0                         1.0
9                 N                 0                         NaN
10                N                 0                         0.0
11                N                 0                         2.0
12                N                 0                         0.0
13                Y                 0                         1.0
14                N                 0                         NaN
15                Y                 0                         1.0
16                N                 0                         0.0
17                N                 0                         NaN
18                N                 0                         0.0
19                N                 0                         2.0
20                Y                 0                         NaN
21                Y                 0                         4.0
22                N                 0                         5.0
23                N                 0                         3.0
24                Y                 0                         0.0
25                N                 0                         0.0
26                N                 0                         2.0
27                N                 0                         0.0
28                Y                 0                         1.0
29                N                 0                         NaN
...             ...               ...                         ...
307481            N                 0                         3.0
307482            Y                 0                         1.0
307483            N                 0                         5.0
307484            Y                 0                         NaN
307485            N                 0                         0.0
307486            Y                 0                         1.0
307487            N                 0                         8.0
307488            N                 0                         1.0
307489            N                 0                         2.0
307490            N                 0                         1.0
307491            Y                 0                         7.0
307492            Y                 0                         0.0
307493            N                 0                         7.0
307494            Y                 0                         1.0
307495            Y                 0                         1.0
307496            N                 0                         2.0
307497            Y                 0                         6.0
307498            Y                 0                         2.0
307499            N                 0                         0.0
307500            N                 0                         5.0
307501            N                 0                         NaN
307502            N                 0                         1.0
307503            N                 0                         2.0
307504            N                 0                         NaN
307505            N                 0                         0.0
307506            N                 0                         NaN
307507            N                 0                         NaN
307508            N                 0                         1.0
307509            N                 0                         0.0
307510            N                 0                         1.0

[307511 rows x 3 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子